/* ELEMENTS */

@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");

:root {
  /* colors */
  --color-soft-red: hsl(0, 94%, 66%);
  --color-primary: #1f5384;
  --color-dark: #03080d;
  --color-light: #e8edf2;
  --color-medium-dark: #06101a;
  --color-medium-dark-transparent: hsla(210, 63%, 6%, 0.98);

  /* base settings */
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-light);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  color: var(--color-medium-dark);
  margin-top: 0;
  line-height: 1.5rem;
  font-size: 0.95rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.heading {
  margin-top: 0;
  color: var(--color-primary);
  font-weight: 400;
}

.heading--main {
  padding: 2.75rem 0;
  text-align: center;
  font-weight: 500;
}

h1,
.h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

h2,
.h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3,
.h3 {
  font-size: 1.25rem;
}

/* UTILITY CLASSES */

.hidden-in-mobile {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.text-light {
  /*  */
}

.shake-horizontal {
  animation: shake 0.25s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(0.5rem, 0) rotate(0deg);
  }
  50% {
    transform: translate(-0.5rem, 0) rotate(0deg);
  }
  100% {
    transform: translate(0.5rem, 0) rotate(0deg);
  }
}

/* COMPONENT CLASSES */

/* common */
.button {
  font-family: "Rubik", sans-serif;
  background-color: transparent;
  padding: 0;
  border: transparent;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 0.4rem;
  transition: 0.3s;
}

.button:hover {
  cursor: pointer;
}

.button--blue {
  border: 0.15rem solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 0.85rem 0.95rem;
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.1),
    0px 6px 5px 0px rgba(0, 0, 0, 0.1);
}

.button--blue:hover {
  color: var(--color-primary);
  background-color: var(--color-light);
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.1),
    0px 6px 5px 0px rgba(0, 0, 0, 0.1);
}

.section {
  /* padding-left: 8.5%; */
  /* padding-right: 8.5%; */
  padding: 0 8.5% 2rem 8.5%;
  min-height: calc(100vh - 88px - 88px);
}

.section__img-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section__img-wrapper > img {
  max-width: 100%;
}

.main-wrapper {
  text-align: center;
  position: relative;
  z-index: 5;
  /* padding-top: 102px; */
  /* min-height: 100vh; */
}

/* nav */
.header {
  position: sticky;
  background-color: var(--color-light);
  top: 0;
  left: 0;
  right: 0;
  /* background-color: gray; */
  transition: 0.3s ease-in-out;
  z-index: 10;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 8.5%;
  width: 100%;
}

.logo-wrapper {
  z-index: 510;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0.5rem;
}

.logo {
  margin: 0;
  font-size: 1.25rem;
  line-height: normal;
  font-weight: bolder;
  font-family: "Rubik", "Tacoma", "Verdana", sans-serif;
}

.logo__link {
  color: var(--color-primary);
  transition: 0.3s ease-in-out;
}

.logo__link:hover {
  filter: brightness(0);
}

.button--cart {
  display: flex;
  margin-right: 0.5rem;
  z-index: 510;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-wrapper--cart {
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  /* margin: -0.5rem; */
  margin: -0.5rem 0 -0.5rem 0;
  position: relative;
  transition: 0.3s ease-in-out;
  /* opacity: 1; */
  /* z-index: 0; */
}

.icon-wrapper--cart:hover {
  filter: brightness(0);
}

.text-wrapper--cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-soft-red);
  color: var(--color-light);
  font-weight: 300;
  /* border: 1px solid black; */
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 0.75rem;
  margin-top: -5px;
  margin-left: -10px;
  opacity: 0;
  z-index: 0;
}

.text-wrapper--cart--active {
  opacity: 1;
  z-index: 515;
}

.text-wrapper--cart > span {
  text-align: center;
}

.nav-menu-button {
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 510;
  padding: 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem 0;
  position: relative;
}

.nav-menu-button:hover {
  background-color: unset;
}

.nav-menu-button-icon--hamburger {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav-menu-button-icon--hamburger--active {
  opacity: 1;
}

.nav-special-icons {
  display: flex;
  transition: 0.3s ease-in-out;
}

.nav-special-icons:hover {
  /* filter: brightness(0); */
  color: black;
}

.nav-menu-button-icon--close {
  position: absolute;
  z-index: 515;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.nav-menu-button-icon--close--active {
  opacity: 1;
  /* background-color: var(--color-light); */
}

.nav-menu {
  display: block;
  background-color: var(--color-medium-dark-transparent);
  position: absolute;
  padding: 61px 8.5% 0 8.5%;
  width: 100%;
  height: calc(100% - 88px);
  /* top: 88px; */
  top: -100%;
  /* right: -100%; */
  right: 0;
  left: 0;
  bottom: 0;
  /* overflow: hidden; */
  transition: 0.3s ease-in-out;
  /* z-index: 500; */
  /* z-index: -5; */
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.nav-menu--active {
  top: 88px;
  z-index: 500;
  opacity: 1;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
}

.nav-menu__item {
  /* border-top: 0.1rem solid rgba(255, 255, 255, 0.2); */
  padding: 1.25rem 0;
}

.nav-menu__item__link {
  color: var(--color-light);
  font-size: 1.1rem;
  font-weight: 400;
  display: block;
  text-align: center;
  /* letter-spacing: 0.2rem; */
  transition: 0.3s;
  width: min-content;
  margin: 0 auto;
  transition: 0.3s ease-in-out;
}

.nav-menu__item__link:hover {
  filter: brightness(0.7);
  /* color: var(--color-primary); */
}

/* .nav-menu__link--login {
  font-weight: 500;
  border: 0.15rem solid var(--color-white);
  padding: 0.75rem 0;
  border-radius: 0.4rem;
  width: auto;
}

.nav-menu__link--login:hover {
  border: 0.15rem solid var(--color-soft-red);
} */

/* home/products page */
.section--home {
  padding-top: 2rem;
  /* padding-bottom: 2rem; */
}

.section__img-wrapper--home {
  /* margin: 0 -9%; */
  margin-bottom: 4rem;
}

.section__img-wrapper--home > img {
  /* border-radius: 0.5rem; */
}

.button-container--home > .button {
  display: block;
  margin-top: 2rem;
}

/* about page */
.section--about {
  padding-top: 0;
  /* padding-bottom: 2rem; */
}

.section__img-wrapper--about {
  margin-bottom: 3rem;
}

/* contact page */
.section--contact {
  padding-top: 0;
}
.contact-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}
.section__text--contact {
  text-align: left;
}

.section__text--contact .text--contact {
  display: flex;
  margin-bottom: 0;
}

.icon-wrapper--contact {
  margin-right: 0.5rem;
}

.embedded-google-maps-container {
  margin-top: 2.5rem;
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.embedded-google-maps {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* footer */
.footer {
  padding: 2rem 8.5%;
  /* background-color: var(--color-dark); */
  background-color: var(--color-medium-dark);
}

.footer__text {
  text-align: center;
  margin-bottom: 0;
  color: var(--color-light);
  font-size: 0.9rem;
}

@media only screen and (min-width: 850px) {
  /* elements */
  p {
    line-height: 1.75rem;
    font-size: 1.2rem;
  }

  h1,
  .h1 {
    font-size: 3rem;
    line-height: 3.3rem;
    margin-bottom: 1.5rem;
  }

  h2,
  .h2 {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  h3,
  .h3 {
    font-size: 1.35rem;
  }

  .heading--main {
    padding: 5.5rem 0;
  }

  .section {
    padding: 0 16% 90px 16%;
  }

  .main-wrapper {
    text-align: left;
  }

  .button {
    text-align: center;
  }

  /* nav */
  .navbar {
    padding: 2rem 16%;
  }

  /* home page */
  .section--home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    /* flex-direction: row-reverse; */
    /* min-height: fit-content; */
    /* padding-top: 88px; */
  }

  .section__img-wrapper--home {
    /* width: 50%; */
    /* height: 50%; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .section__img-wrapper--home > img {
    object-fit: cover;
    width: 100%;
  }

  .section__text--home {
    text-align: center;
    padding: 32px;
    z-index: 20;
    width: calc(66% + 64px);
    margin: 0 auto;
  }

  .section__text--home::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    z-index: -1;
  }

  .button-container--home {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .button-container--home > .button {
    width: max-content;
    display: block;
  }

  .button-container--home > .button:hover {
    filter: none;
  }

  /* about page */
  .section--about {
    padding-top: 0;
  }

  .section__img-wrapper--about {
    /* margin-bottom: 90px; */
    margin-bottom: 0;
  }

  .section__text--about {
    padding: 5.6rem 3rem 3rem 3rem;
    /* margin-top: -3rem; */
  }

  /* contact page */
  .contact-group {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 1150px) {
  /* nav */
  .navbar {
    padding: 2rem 16%;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    /* background-color: gray; */
    position: static;
    padding: 0 0.5rem;
    width: auto;
    height: auto;
    transition: 0.3s ease-in-out;
    opacity: 1;
    z-index: 50;
    max-height: 100vh;
  }

  .nav-menu--active {
    /* overflow: */
  }

  .nav-menu__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0.5rem;
  }

  .nav-menu__item__link {
    color: var(--color-primary);
    /* letter-spacing: 0.05rem; */
    font-weight: lighter;
    /* border-bottom: 0.15rem solid transparent; */
  }

  .nav-menu__item__link:hover {
    /* color: var(--color-dark); */
    filter: brightness(0);
    /* border-bottom: 0.15rem solid var(--color-dark); */
  }

  .button--cart {
    width: 105px;
    justify-content: flex-end;
    margin-right: 0;
  }

  .nav-menu-button {
    display: none;
  }

  /* about page */
  .section--about {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section--about .heading--main {
    width: 100%;
  }

  .section__img-wrapper--about {
    /* margin-bottom: 90px; */
    max-width: 50%;
  }

  .section__img-wrapper--about > img {
    object-fit: cover;
  }

  .section__text--about {
    padding: 3rem 3rem 3rem 0;
    max-width: 50%;
  }
}
/* special overriding styles */

.nav-menu__item__link--current-page {
  font-weight: 500;
}
