<div class="section__img-wrapper section__img-wrapper--product-detail">
  <img
    src="../assets/images/products/ballpoint-1_no_logo.jpg"
    alt="A graphic of a man sitting on a bed besides an open window in a room."
  />
</div>
<article class="section__text section__text--product-detail product-detail">
  <h4 class="checkout-form__sub-heading">
    Ballpoint Pen
  </h4>
  <p class="product-detail__price">
    &#36;4.99
  </p>
  <form action="" class="add-to-cart-form">
    <div class="input-group input-group--text--no-hover full-width">
      <input
        class="input input--text--no-hover half-width half-max-width"
        id="input--add-to-cart--quantity"
        type="number"
        required
        value="1"
        min="1"
        step="1"
      />
      <label class="label" for="input--add-to-cart--quantity">
        Quantity
      </label>
    </div>
    <div class="input-group input-group--submit full-width">
      <input
        class="input input--button button button--blue--ghost button--add-to-cart half-max-width"
        id="input--add-to-cart--submit"
        type="submit"
        value="Remove"
      />
    </div>
  </form>
  <p class="product-detail__description">
    The classic choice for students since 1950.
  </p>
</article>
